.em-legend-background {
    fill: white;
    opacity: 0.7;
    rx: 0;
    ry: 0;
}
.em-legend-label {
    font-size: 15px;
    dominant-baseline: central;
}
.em-legend-title {
    font-size: 16px;
    fill: black;
}
.em-legend-separator {
    stroke: white;
    stroke-width: 1;
}
.em-legend-tick {
    stroke: grey;
    stroke-width: 1;
}
.em-bivariate-break2-label {
}
.em-bivariate-frame {
    fill: none;
    stroke: black;
}
.em-bivariate-arrowhead {
}
.em-bivariate-nodata {
    stroke: black;
    stroke-width: 0.5;
    cursor: pointer;
}
.em-bivariate-axis-title {
    font-size: 15px;
}
.em-bivariate-label {
    font-size: 14px;
}
.em-bivariate-tick {
}
.em-bivariate-square,
.em-legend-rect {
    cursor: pointer;
    stroke: white;
}
