.estat-vis-tooltip-text {
    background: #ffffff;
    color: #171a22;
    padding: 4px;
    font-size: 15px;
}
.estat-vis-tooltip-bar {
    background: #515560;
    color: #ffffff;
    padding: 6px;
    font-size: 15px;
}
.leaflet-popup-content-wrapper {
    padding: 0px;
}
.popover {
    border-radius: 0px;
    padding: 0px;
}
.popover-content {
    padding: 0px;
}

div#tooltip_eurostat {
    font-size: 16px !important;
    font-family: Arial !important;
}
